/* Aggiunta Menu */  
.hamburger{
    display: none;
  }
  
  
  ul {
    margin: 0;
    padding: 0;
    
  } 
  
  
  /*PAGINA DOCUMENTI */
  #documenti li {
    display: inline;
  }
  
  #documenti li a {
    display: block;
    color: rgb(17, 15, 15);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }
  
  #documenti li a:hover {
    background-color: #111;
  }
  
  #documenti {
      margin: 20px;
      float: inline-end;
      background-image: url("/img/monte.jpg") ;
      background-repeat: no-repeat;
      border-radius: 0px;
      font-weight: bold;
      font-size: large;
      font-style: oblique;   
      display: grid;
      
      
  }
  #documenti li a {
    color:ivory;
    
  }
  
  /*MENU */
  nav {
    width: 100%;
    height: 75vh;
    padding: 0 5px;
    background-image: url("/img/scousempre5.jpg");
    background-attachment: absolute;
    background-position: top;
    background-repeat:no-repeat;
    background-size: cover;
    border:black 3px solid;
  }
  .menu {
      list-style: none;
      display:flex;
      flex-direction: row;
      padding: 20px 100px 0px 70px;
      width: 100%;
      font-size: large; 
  }
  
  .menu li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px bold;
    position: static;
    
    justify-content: space-between;
  }
  .menu a {
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    color:cornsilk;
    font-weight: bold;
    transition: .3s ;
  }
  .menu a:hover  {
    color:antiquewhite;
    background-color: black;
  }
  
  .sub-menu {
    width: 150px;
    position: static;
    top: 40px;
    left: 0;
    border: 1px solid white;
    font-style: oblique;
    font-size: 10px;
    
    border-bottom: none;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
  
  }
  .menu .has-children:hover .sub-menu {
    
    transition: .5s;
    visibility: visible;
    opacity: 0.85;
    top: 50px;
  
  }
  
  .sub-menu li {
    width: 200px;
    font-size: 10px;
    border: 1px solid white;
    background-color: honeydew;
  
  }
  .sub-menu a {
    color: rgb(3, 3, 3);
    background-color: rgb(232, 247, 234);
  }
  .sub-menu a:hover {
    background: rgb(222, 245, 188) ;
    color: #070505;
  }
  
    .dropdown-content a {
      color: rgb(51, 53, 51);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {
      background-color: #f1f1f1;
      border-radius: 20px;
    
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:hover .dropbtn {
      background-color: #080606;
    }
  
    aside {
      width: 17%;
      padding: 15px;
      margin-left: -890px;
      margin-top: -610px;
      float: left;
      font-style: italic;
      background-color: rgb(207, 241, 248);
      border-radius: 10px;
      font-size: 13px;
    }

  .sidenav {
      position: absolute;
      
      border-radius: 10px;
      z-index: 1;
      top: 0px;
      overflow-x: hidden;
      padding-top: 600px;
      margin-left: -240px;
  } 
    
  
  /*paragrafi tutte pagine */
  
  
   body {
       display: inline;
       background-color: #f1f1f1; 
       margin-top: 500px;
       
       
   }
   
   #testo {
     margin-left: 20%;
     margin-right: 30px;
     margin-top: 80px;
     text-align: center;
   }

   #paragrafi {
     margin-left: 20px;
     margin-right: 20px;
     margin-top: 80px;
     text-align: center;
   }
   
  #contenuto {
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 100px;
  text-align: center;
  z-index: 2;
  }
  
  
  
  
  footer {
    display: block;
    position: relative;
    margin-top: 100px;
    text-align: center;
    background-color: rgb(245, 241, 234);
  }
  
  
  
  
   /*PAGINE HOME*/
  
   .flip-card {              
    margin-left: 30px;
    margin-right: 30px;
  
    background-color: transparent;
    width: 400px;
    height: 370px;
    perspective: 1000px;
    
  } 
  
  
  .flip-card-inner {
    
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px 100px 200px 10px; 
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    padding:10px 10px 10px 10px; 
    background-color: #14006e;
    color: white;
    font-size: 11px;
    transform: rotateY(180deg);
  }
  * {
    box-sizing: border-box;
  }
  /*UNITA' */
  img {
    vertical-align: middle;
  }
  
  /* Posizione dell'immagine  */
  .container {
    position: relative;
    width: 60%;
    height: 60%;
    margin-top: 130px;
    text-align: center;
  }
  
  /* nascondo l'immagine di default */
  .mySlides {
    display: none;
  }
  
  /* Aggiungo un cursore quando vado sopra l'immagine  */
  .cursor {
    cursor: pointer;
  }
  
  /* Bottoni */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 10px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    
  }
  
  /* Posizione del bottone 'next' */
  .next {
    right: 0;
    margin-right: 12px;
    border-radius: 3px 0 0 3px;
  }
  /*Posizione del bottone 'prev' */
  .prev {
    left: 0;
    margin-left: 12px;
    border-radius: 3px 0 0 3px;
  }
  
  /* Quando si è sopra alle frecce, cambia colore*/
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* I numeri (1/12 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Contenitore della descrizione dell'immagine */
  .caption-container {
    text-align: center;
    background-color: #222;
    color: white;
    
  }
  
  .row {
    margin: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* posizione colonne foto */
  .column {
    float: left;
    width: 16.66%;
    margin: 0px;
    margin-top: 5px;
  }
  
  /* Aggiunta di un effetto trasparente quando ci vai sopra */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  /*UNITA' */
 
  #testo .column {
    float: left;
    width: 33.33%;
    padding: 0px;
  }
  
  
  #testo .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
   /* PAGINA CONTATTI */
  #social {
    margin-top: 40px;
    position: relative;
    text-decoration: none; 
  }
  
   #icona {
     font-style:oblique;  
     
   }
  
   /*utilizzo di fontawesome */ 
   .fa {
    padding: 15px;
    font-size: 60px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
   .fa:hover {
    opacity: 0.6;
  }
  .fa-instagram {
    background: #d1018c;
    color: white;
    width: 90px;
    border-radius: 10px;
  }
  .fa-facebook {
    background: #27069e;
    color: white;
    width: 90px;
    border-radius: 10px;
  }
  
  
   #casella {
     margin: 50px 100px 20px 100px;
     width: 80%;
     height: 100%;
     
     display: flex;
     align-items: center;
     justify-content: center;
   }
   form {
     margin-top: 20px;
     margin-bottom: 20px;
     background: #fff;
     display: flex;
     flex-direction: column;
     padding: 2vw 4vw;
     width: 70%;
     max-width: 600px;
     border-radius: 10px;
     font-style: normal;
   }
  
   form h3 {
     color: #555;
     font-weight: 800;
     margin-bottom: 20px;
   }
   form input, form textarea {
     border: 0;
     margin: 10px 0;
     padding: 20px;
     outline: none;
     background: #f5f5f5;
     font-size: 16px ;
     font: 1em sans-serif;
   }
    
   form button {
     padding: 15px;
     background-color: #1f0074;
     color: #fff;
     font-size: 18px;
     outline: none;
     cursor: pointer;
     width: 150px;
     margin: 20px auto 0;
     border-radius: 20px;
     border: none;
   }
  
  
  
  
      
  @media (max-width: 1024px) {
    .sidenav {
      display: none;
    }
    .menu{
        display: block !important;
        margin-left: 0;
        position: absolute;
        top:0;
        right:-200%;
  
        background: rgba(0, 0, 0, 0.95);
        height: 75vh;
        width: 50vh;
        padding-top: 80px;
        overflow-x: hidden;
        overflow-y: auto;
        
    }
    .menu li{
        display: block !important;
        
        
    }
    .menu li a{
        padding: 15px 30px;
        font-size: 10px;
    }
    
    .menu--open{
        right:-1%;
        padding-right: 10%;
       
    }
    
    .hamburger{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top:25px;
        right:30px
    }
    .hamburger span{
        background: #fff;
        height: 3px;
        width: 100%;
        display: block;
        margin-bottom: 5px;
        cursor: pointer;
    }
    .sub-menu{
        visibility: visible; 
        opacity: 75% !important;
    }
  
    
  
    .menu img {
      display: flex;
      height: 120px !important;
      width: 110px !important;
      margin-top: -30px;
      
      
    }
  }

  
    
  
  @media (max-width: 650px) {
    
  
  .menu--open{
      right: -1%;
  }
  }
  
  @media (max-width: 500px) {
    
    .menu--open{
        right: -1%;
        
    }
  }
  
  @media (max-width: 320px) {
    
    .menu--open{
        right: 0%;
    }
    .menu{
        background: rgba(0, 0, 0, 0.975);
    }
  }
  
        @media screen and (max-width: 1200px) {
              body {
                
                font-size: 12px;
              }
  
          /* unità galleria a scorrimento */
            .container {
              margin: auto;
            }
            .row {
              margin: 5px;
            }
            .row:after {
              content: "";
              display: table;
              clear: both;
  
            }
            
           
            .column {
              float: left;
              width:100px;
              margin: 3px;
              margin-top: 5px;
              
            }
            
            .prev, 
            .next {
              top: 25%;
            }
            
          /* card della HOME */
  
          .flip-card {
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 50px;
            
            
            
          }
          .flip-card-inner {
            display: flex;
            flex-direction: column;
          
          }
  
          
          
          
          /* FORM CONTATTI */
          #casella {
                  
                  width: 400px;
                  
                  right: 0;
                  left: 0;
                  max-width: 250px;
                  padding: 10 20px;
                  margin: 0px ;
                  
                  display: flex;
                  flex-wrap: wrap;
          }
  
          #casella input  {
            width: 120px;
            height: 50px;
            font-size: 12px;
            text-align: center;
            margin-left: 7px;
          }
  
          #casella textarea {
            width: 120px;
            height: 70px;
            font-size: 12px;
            text-align: center;
            margin-left: 7px;
  
          }
  
          #casella button {
            width:100px;
            height: 50px;
            font-size: 15px;
          }
  
          .sidenav {
            display:table-row;
  
           
          }
  
          
          
        }
             
                 